* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Ubuntu", sans-serif;
}

body {
  min-height: 100vh;

  &.light {
    background-color: #fafafa;
    color: #010101;
  }

  &.dark {
    background-color: #010101;
    color: #fafafa;
  }
}
