* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  --header-height: 150px;
  --header-button-width: 100px;
  --background-color: #fafafa;
  --color: #010101;

  min-height: 100vh;
  overflow-x: hidden;

  &.light {
    --background-color: #fafafa;
    --color: #262626;
  }

  &.dark {
    --background-color: #262626;
    --color: #fafafa;
  }

  background-color: var(--background-color);
  color: var(--color);
}
