header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: var(--header-height);

  .side {
    flex-basis: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 150, 150, 10%);

    &:hover {
      background-color: rgba(150, 150, 150, 30%);
    }
  }

  #photo-name {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
      width: 100px;
      height: 100px;
      scale: 0.8;
      border-radius: 50px;
      margin-right: 10px;
    }

    h1 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
    }
  }

  #theme-switch,
  #menu-button {
    svg {
      width: 25px;
      height: 25px;
      fill: var(--color);
    }
  }
}
