header {
  display: flex;
  z-index: 2;
  position: absolute;
  left: -100vw;
  top: 0;
  width: 200vw;
  height: var(--header-height);
  background-color: rgba(150, 150, 150, 30%);
  box-shadow: rgba(0, 0, 0, 50%) 0 0 30px;

  &.transition {
    transition: left 0.5s ease-in-out;
  }

  &.opened {
    left: 0;
  }

  .header-button {
    width: var(--header-button-width);
    flex-basis: var(--header-button-width);
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 25px;
      height: 25px;
      fill: var(--color);
    }
  }

  #nav-side {
    display: flex;
    width: 100vw;
    height: var(--header-height);

    nav {
      flex-grow: 1;
      display: flex;

      ul {
        flex-grow: 1;
        display: flex;

        a {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;

          &:nth-child(odd) {
            background-color: rgba(150, 150, 150, 0%);

            &:hover {
              background-color: rgba(150, 150, 150, 30%);
            }
          }
        }
      }
    }
  }

  #middle-button {
  }

  #main-side {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: var(--header-height);

    #photo-name {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: cover;
        width: 100px;
        height: 100px;
        scale: 0.8;
        border-radius: 50px;
        margin-right: 10px;
      }

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }
  }
}
