#main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: var(--header-height);
  left: 0;
  min-height: calc(100% - var(--header-height));

  main {
    flex-grow: 1;
    padding: 40px;

    h2 {
      padding: 15px;
      font-size: 25px;
    }

    p {
      padding: 10px 0;
      font-size: 18px;
    }
  }
}
