#nav-slide {
  display: flex;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(200vw - 100px);
  height: var(--header-height);
  transform: translateX(calc(-100vw + 100px));
  transition: transform 0.5s ease-in-out;
  background-color: rgba(150, 150, 150, 30%);
  box-shadow: rgba(0, 0, 0, 50%) 0 0 30px;

  nav {
    width: calc(100vw - 100px);
    height: var(--header-height);

    ul {
      display: flex;
      justify-content: space-around;
    }
  }

  &.opened {
    transform: translateX(0);
  }
}

.dark {
  #nav-slide {
    box-shadow: rgba(255, 255, 255, 50%) 0 0 30px;
  }
}
