.swiper-container {
  margin: auto;
  width: 100%;
  height: 50vw;

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--text-color);

    &:hover {
      color: var(--text-secondary);
    }
  }

  .swiper-image-container {
    height: 100%;
    width: 50%;
    padding: 100px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    height: 70vh;
  }
}

@media screen and (min-width: 1224px) {
  .swiper-container {
    width: 75vw;
  }
}
