header {
  h1 {
    text-align: center;
  }
  blockquote {
    text-align: center;
    color: var(--text-secondary);
  }
  .buttons {
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;

    button {
      font-size: 15px;
      margin-right: 10px;
    }
  }
}
